
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
    margin: 0;
    
}

.main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: chartreuse;
    margin-top: 0%;
    font-size: 215%;
    background-image: url(https://images.pexels.com/photos/1591447/pexels-photo-1591447.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-color: darkblue;
    padding-top: 20%;
    padding-bottom: 15%;
    border-bottom: 5%;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    background-position: center;

}

.inner-main{
    padding-bottom: 15%;
    background-image: url(https://images.wallpaperscraft.com/image/wolf_silhouette_horizon_130178_1920x1080.jpg);
    margin-left: 15%;
    margin-right: 15%;
}

.top{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Supreme_Logo.svg/864px-Supreme_Logo.svg.png);
    padding-bottom: 2%;
    margin-right: 85%;
    margin-bottom: 15%;
    margin-top: -20%;
}

